text {
  font-family:'Fira Sans';
  font-style:normal;
  fill: #371ea3;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.bigTitle {
    font-weight: 600;
    font-size: 18px;
    text-align: left;
}

.smallTitle{
    font-weight: 600;
    font-size: 13px;
    text-align: left;
}

.axisTitle{
    font-weight: 600;
    font-size: 13px;
    text-align: center;
}

.axisLabel{
    font-weight:400;
    font-size: 11px;
}

.axisLabel .domain{
    stroke: #371ea3;
}

.legendTitle{
    font-weight: 400;
    font-size: 13px;
    text-align: left;
}

.interceptLine{
    stroke: #371ea3;
	stroke-width: 1px;
	stroke-opacity: 1;
	stroke-linecap: "butt";
}

.dotLine{
  		fill: none;
  		stroke: #371ea3;
  		stroke-width: 0.7px;
}

.grid .tick line{
    stroke: #f0f0f4;
    stroke-width: 1px
}
